.App {
  min-height: 100vh;
  background-image: url("./img/food.png");
  font-family: 'Ubuntu', 'sans-serif';

}

.search-form {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.recipes {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}